#recite-wrapper #zohohc-asap-web-layoutbox {
  height: calc(100% - 60px);
}

#recite-dropdowns #recite-close.show {
  display: block !important;
  cursor: pointer;
}

div#recite-header {
  top: 0 !important;
}